/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $main-type-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.main-info a {
    color: $darker-type-color;
    transition: all 250ms ease;
    &:hover {
        background-color: $main-type-color;
        color: $background-color;
    }
}

/******
Main text
******/

.main-info {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    max-width: 600px;
    margin: 1em auto;
    width: 90%;
}

.main-greeting {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase;
}

.site-footer {
    font-weight: 300;
    font-size: 1.5em;
    margin: 0 auto;
    width: 90%;
}

.site-footer a {
    color: $main-type-color;
    text-decoration: none;
    transition: all 250ms ease;
    &:hover {
        background-color: $main-type-color;
        color: $background-color;
        
    }
}

@include media-query($on-palm) {
    .main-greeting {
        font-size: 2.2em;
    }

    .site-footer {
        // font-size: 1.5em;
    }
}




@include media-query($on-palm) {
    .main-portrait {
        // height: 400px;
        // position: static;
        // width: 100%;
    }
}
