/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $main-type-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.main-info a {
    color: $darker-type-color;
    transition: all 250ms ease;
    &:hover {
        background-color: $main-type-color;
        color: $background-color;
    }
}

.main-info {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2em;
    max-width: 30em;
}

.site-footer {
    font-weight: 300;
    font-size: 2em;
}

.site-footer a {
    color: $main-type-color;
    text-decoration: none;
    transition: all 250ms ease;
    &:hover {
        background-color: $main-type-color;
        color: $background-color;
        
    }
}




