.project-wrapper {
    margin: 0 auto;
    width: 90%;
}

.section-heading {
    font-size: 2em;
    text-align: center;
    text-shadow: $text-shadow;
}

.project-list {
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }

}

.projects-show {
    .project-list-item {
        opacity: 1;
    }
}

.project-list-item {
    background: white;
    @include BoxShadowHelper(2);
    color: $background-color;
    float: left;
    list-style: none;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    max-width: calc(500px - 2em);
    opacity: 0;
    padding: 0;
    transition: all 500ms ease;
    width: 100%;
    &:hover {
        @include BoxShadowHelper(4);
        .project-list-item-image {
            opacity: 1;
        }
    }
    @media (max-width: 600px) {
        margin-left: auto;
        margin-right: auto;
    }

}

.project-list-item-image {
    opacity: 0.6;
    transition: all 500ms ease;
}

.project-list-item-content {
    padding: 2em;
}
